<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>실습.입력한다</h1>
    <form action="/mission" method="get">
        <input type="text" name="inputData" />
        <select id="selectMenu" name="selectMenu">
            <option value="선택1">선택1</option>
            <option value="선택2">선택2</option>
        </select>
        <input type="submit" value="검색">
    </form>

    <script>
        const flashMessage = `[[${flashMessage}]]`;
        console.log(flashMessage);

        if(flashMessage){
            alert(flashMessage);
        }
    </script>


</body>
</html>